.icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}
.icons img:hover {
  transform: scale(1.2);
}
.icons img {
  width: 60px;
  height: auto;
}
#serializd {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #202830;
  position: relative;

  #mini {
    position: absolute;
    top: 30px;
    left: 30px;
    transform: translate(-50%, -50%) rotate(120deg);
    width: 45px;
    height: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: -0px -1.5px rgba(0, 0, 0, 0.3);

    #line {
      position: absolute;
      top: 6px;
      left: 5px;
      width: 35px;
      height: 3px;
      border-radius: 20px;
      background-color: white;
    }
  }
}
#serializd:hover {
  transform: scale(1.2);
  background-color: #44bba4;
  #mini {
    background-color: #99ffff;
    box-shadow: -0px -1.5px rgba(0, 0, 0, 0.3);
  }
  #line {
    background-color: white;
  }
}
#serializd a {
  position: absolute;
  inset: 0;
  z-index: 10;
}

/*<------------------------------letterboxd------------------------------>*/

.letterboxd {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #202830;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    mix-blend-mode: plus-lighter;
    background-color: #ffff;
    position: absolute;
    &:first-child {
      transform: translateX(-80%);
    }
    &:nth-child(2) {
      z-index: 2;
    }
    &:nth-child(3) {
      transform: translateX(80%);
    }
  }
}
.letterboxd:hover {
  transform: scale(1.2);
  .circle {
    &:first-child {
      background-color: #f58004;
    }
    &:nth-child(2) {
      background-color: #4be053;
    }
    &:nth-child(3) {
      background-color: #44bcf4;
    }
  }
}
.letterboxd a {
  position: absolute;
  inset: 0;
  z-index: 10;
}
/*<------------------------------tmdb------------------------------>*/

.tmdb {
  width: 60px;
  height: 60px;
  border-radius: 25%;
  background-color: #202830;
  display: flex;
  align-items: center;
  justify-content: center;
  .thing {
    width: 70%;
    height: 25%;
    border-radius: 20px;
    background-color: #ffffff;
  }
}
.tmdb:hover {
  transform: scale(1.2);
  background-color: #0d253f;
  .thing {
    background-image: linear-gradient(to right, #90cea1, #01b4e4);
  }
}
/*<------------------------------anilist------------------------------>*/
.anilist {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #202830;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  .a,
  .l {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    font-size: 180%;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke: 2px currentColor;
  }
  .a {
    transform: translateX(-20%);
    z-index: 1;
  }
  .l {
    transform: translateX(40%);
  }
}
.anilist a {
  position: absolute;
  inset: 0;
  z-index: 10;
}
.anilist:hover {
  transform: scale(1.2);
  background-color: #1e2630;
  .a {
    color: #fefefe;
  }
  .l {
    color: #02a9ff;
  }
}
/*<------------------------------imdb------------------------------>*/
.imdb {
  width: 60px;
  height: 60px;
  border-radius: 25%;
  background-color: #202830;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  .name {
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    -webkit-text-stroke: 1px currentColor;
  }
}
.imdb:hover {
  transform: scale(1.2);
  background-color: #f6c700;
  .name {
    color: black;
  }
}
.imdb a {
  position: absolute;
  inset: 0;
  z-index: 10;
}
/*<------------------------------mobile------------------------------>*/
@media (max-width: 800px) {
  .icons img {
    width: 40px;
    height: auto;
  }

  #serializd {
    width: 40px;
    height: 40px;
    #mini {
      top: 20px;
      left: 20px;
      width: 30px;
      height: 8px;
      #line {
        top: 5px;
        left: 5px;
        width: 20px;
        height: 1.5px;
      }
    }
  }
  /*letterboxd*/
  .letterboxd {
    width: 40px;
    height: 40px;
    .circle {
      width: 13px;
      height: 13px;
      background-color: #ffffff;

      &:first-child {
        transform: translateX(-80%);
      }
      &:nth-child(3) {
        transform: translateX(80%);
      }
    }
  }
  /*<------------------------------tmdb------------------------------>*/

  .tmdb {
    width: 40px;
    height: 40px;
  }
  .anilist {
    width: 40px;
    height: 40px;
    .a,
    .l {
      bottom: 1px;
    }
  }
  .imdb {
    width: 40px;
    height: 40px;
  }
}
